/* GENERAL STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", sans-serif;
}

.header-content {
    overflow: hidden;
}

.container {
    width: 94%;
    margin: auto;
}

.pd-y {
    padding: 140px 0;

}

.pd-y1 {
    padding: 80px 0;
}

.pd-y2 {
    padding: 220px 0;
}

.pd-y3 {
    padding: 50px 0;
}

.clear {
    overflow: hidden;
}

.ltr-effect {
    position: relative;
}

.ltr-effect:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width 0.4s;
    z-index: -1;
}

.ltr-effect:hover::after {
    width: 100%;

}

.section-header {
    text-align: center;
    margin-bottom: 70px;

}

.section-header .line {
    display: block;
    height: 5px;
    width: 60px;
    margin: auto;
    background-color: #c61b1b;
}

.section-header .line-us {
    display: block;
    height: 5px;
    width: 60px;
    margin: 0 30px;
    background-color: #c61b1b;
}

.section-header .section-title {
    font-size: 35px;
    margin: -10px auto 10px auto;
    padding: 0;
}

/* header */
.header {}

#navobaro {
    background-color: rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 5;
    position: fixed;
    top: 0;
    transition: 0.5s;
}

.header .logo {
    width: 25%;
    float: left;
}

.header .logo img {}

.header .nav {
    width: 70%;
    list-style: none;
    float: left;
}

.header .nav li {
    display: inline-block;
}


.header .nav li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 25px;
    margin-top: 6px;
}


.header .nav li a:after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #c61b1b;
    margin-top: 2px;



}

.header .nav li a.active:after {
    font-weight: 540;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #c61b1b;
    margin-top: 2px;

}

.nav li a:hover:after {
    transition: 0.5s;
    font-weight: 540;
    width: 100%;
    opacity: 0.8;
}

.nav li a:hover {
    opacity: 0.8;
    transition: 0.5s;

}

/* input[type=text]{
      display: none;
} */

#signbtn {
    color: #c61b1b;
    margin-left: 190px;
    background-color: white;
    border-radius: 30px;
    padding: 10px 15px;
}

#signbtn:hover:after {
    opacity: 0.8;
    transition: 0.5s;
    width: 0;
}

.nav .fa-search {
    cursor: pointer;
    color: white;
    font-size: 22px;
}

.nav .fa:hover {
    color: #c61b1b;
    transition: 0.5s;
}

/* header end */

/**/
/**/
/**/

/* home */
.home {
    height: 100vh;
    background-image: url(../images/6.jpg);
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8)
}

.home-content {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .slogan {
    text-shadow: 2px 2px black;
    color: white;
    font-size: 400%;
}

.home .description {
    text-shadow: 1px 1px black;
    letter-spacing: 0.7px;
    color: white;
    margin: 30px;
    font-size: 115%;
}

.home .btn {
    color: #c61b1b;
    min-width: 130px;
    padding: 20px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 120%;
    font-family: "Trebuchet MS", sans-serif;
}

.home .one {
    margin-right: 15px;
}

.home .two {
    margin-left: 15px;

}

.btn-hover:hover {
    opacity: 0.8;
}

.btn-hover {
    transition: opacity 0.5s;
}

/* END HOME SECTION */

/**/
/**/
/**/

/* SHIPPING SECTION */

.shipping {}

.section-header .section-title {
    font-size: 320%;
    padding-bottom: 0px;

}

.shipping-content {
    overflow: hidden;
}

.ship-item {
    width: 28%;
    float: left;
    text-align: center;
    border: 1px solid #cccccc;
    padding: 20px 15px;
    margin-bottom: 10px;

}

.ship-item:hover .ship-head {
    color: white;

}

.ship-item:hover .ship-para {
    color: white;
}

.ship-item:hover .ship-link {
    color: white;
    font-size: 20px;
}

.ship-item:hover .icon {
    color: white;
}


.ship-item.mg {
    margin: 0 8%;

}

.ship-item .icon {

    transition: color 0.5s;
    color: #c61b1b;
    margin-bottom: 15px;

}

.ship-head {
    transition: color 0.5s;
    margin-bottom: 10px;

}

.ship-para {
    transition: color 0.5s;
    line-height: 1.2;
    margin-bottom: 10px;
}

.ship-link {
    transition: 0.7s;
    color: #c61b1b;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}

/* END SHIPPING SECTION */

/**/
/**/
/**/

/* GALLERY SECTION */

.gallery {
    background: #fafafafa;
}

.gallery-content {
    overflow: hidden;

}

.gallery-item {
    width: 30%;
    float: left;
    margin-bottom: 30px;
    position: relative;

}

.gallery-item .layer-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.gallery-item:hover .layer-content {
    opacity: 1;
    visibility: visible;

}

.layer-content .layer-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
}

.gallery-item img {
    width: 100%;
}

.gallery-item.mg {
    margin: 0px 5%;
}

.layer-content .layer {
    color: white;
    display: block;
    margin-bottom: 10px;
    position: relative;
    font-size: 18px;
    opacity: 0;

    top: 10px;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.2s;
}

.layer-content-title {
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    position: relative;
    opacity: 0;

    top: 10px;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.3s;

}

.layer-content i {
    color: #c61b1b;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    line-height: 40px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    top: 10px;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.3s;


}

.gallery-content:hover .layer-content-title,
.gallery-content:hover .layer-content i,
.gallery-content:hover .layer-content .layer {
    top: 0;
    opacity: 1;
}

/* END GALLERY SECTION */

/**/
/**/
/**/

/* SERVICE SECTION */

.service-item {
    width: 50%;
    float: left;
    position: relative;

}

.service-item .section-header {
    text-align: left;
}

.service-item-desc {
    padding-right: 20px;
    color: #c61b1b;
    line-height: 1.4;
    font-size: 20px;
    margin-bottom: 30px;
}

.service-list {
    list-style: none;
}

.service-list li {
    margin-bottom: 10px;

}

.service-list li i {
    background-color: white;
    border: 0.5px solid #cccccc;
    color: #c61b1b;
    padding: 7px 7px;
    border-radius: 50%;
}


.service-img img {
    width: 100%;
    opacity: 0.9;
    vertical-align: middle;
    margin: auto;
}

.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 2%;
    width: auto;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.service-bolets {
    list-style: none;
    text-align: center;
}

.service-bolets li,
.dots {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #777;
    margin: 10px 5px;
    border-radius: 50%;
    transition: 0.5s;
}

.service-bolets li:hover {
    background-color: #c61b1b;
    cursor: pointer;
}

.service-bolets li.act {
    background-color: #c61b1b;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

/* END SERVICE SECTION */

/**/
/**/
/**/

/* FILM SECTION*/
.film {
    position: relative;
    background-image: url(../images/4.png);
    background-size: cover;
    height: 280px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.films-item {
    overflow: hidden;
    padding: 100px 0;
}

.film-item {
    width: 25%;
    float: left;
    text-align: center;
    color: white;
}

.film-item .icon {
    filter: drop-shadow(1px 1px black);
    color: #c61b1b;
    margin-bottom: 10px;
}

.film-item-title {
    font-weight: bold;
    font-size: 22px;
}

.film-item-desc {
    font-size: 17px;
}

/* END FILM SECTION */

/**/
/**/
/**/

/* PRICING SECTION */
.pricing {
    background-color: #fafafafa;

}

.pricing-plan {
    overflow: hidden;

}

.pricing-item {
    width: 30%;
    float: left;
    padding: 40px 30px;
    border: 1px solid #cccccc;
    text-align: center;
}

.pricing-item.mg {
    margin: 0 5%;

}

.pricing-item-title {
    color: #c61b1b;
    margin-bottom: 20px;
    font-size: 19px;
}

.pricing-item-circle {

    width: 130px;
    height: 130px;
    padding: 35px;
    margin: 35px auto;
    text-align: center;
    border: 2px solid #c61b1b;
    border-radius: 50%;
}

.pricing-item-circle .dollar {
    font-size: 35px;
    text-align: center;
}

.pricing-item-circle .per {
    font-size: 17px;
    text-align: center;
}

.pricing-list {
    list-style: none;

}

.pricing-list li {
    font-size: 16px;
    line-height: 1.8;
}

.pricing-button {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 17px;
    font-weight: bold;
    background: none;
    color: white;
    border: 0;
    background-color: #c61b1b;
    display: block;
    margin: 35px auto 0 auto;
    padding: 20px 30px;
    /* border: 1px solid #c61b1b;*/
    cursor: pointer;
    transition: 0.7s;
}

.tb-effect {
    position: relative;
}

.tb-effect:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: height 0.4s;
    z-index: -1;
}

.tb-effect:hover:after {
    height: 100%;

}

.pricing-item.tb-effect {
    z-index: 1;
}

.pricing-item:hover .pricing-item-title,
.pricing-item:hover .pricing-list {
    color: white;
}

.pricing-item:hover .pricing-item-circle {
    border: 2px solid white;
    color: white;

}

.pricing-item:hover .pricing-button {
    background-color: white;
    color: #c61b1b;
    font-size: 18px;

}

/* END PRICING SECTION */

/**/
/**/
/**/

/* TESTO SECTION */
.test {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/31.jpg);
    background-attachment: fixed;
    position: relative;
    height: 400px;
}

.test-content {
    overflow: hidden;
    padding: 100px 0px;
    width: 80%;
    margin: auto;
}

.test-item {
    width: 50%;
    float: left;
    color: white;
}

.test-item .test-top {
    position: relative;
    padding: 40px 2px 10px 105px;
}

.test-item .test-top img {
    filter: drop-shadow(1px 1px black);
    position: absolute;
    left: 13px;
    top: 15px;
    border-radius: 50%;
}

.test-item .test-top h2 {
    filter: drop-shadow(1px 1px black);
    margin-bottom: 2px;
    font-weight: bold;
}

.test-item .test-top span {
    color: #c61b1b;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;

}

.test-desc {
    font-size: 16px;
    line-height: 1.3;
    margin-top: 10px;
    margin-left: 20px;

}

/* END TESTO SECTION */

/**/
/**/
/**/

/* TEAM SECTION */
.team {}

.team-content {
    overflow: hidden;
}

.team-item {
    width: 30%;
    float: left;
    background-color: #f2f2f2f2;
    padding: 30px 20px;
    text-align: center;
}

.team-item.mg {
    margin: 0 5%;
}

/* مهم جدا لموضوع الصور :*/
.team-item .team-img {
    width: 95%;
    margin: auto;
    position: relative;
    /*مشان التأثير اللي رح ينزل فوق الصورة*/
}

.team-item .team-img img {
    width: 100%;


}

.team-overlay {
    position: absolute;
    /*مشان التأثير اللي رح ينزل فوق الصورة*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    margin-bottom: 2px;
    transition: 0.5s;

}

.team-overlay a {
    display: block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #c61b1b;
    margin-left: auto;
    transition: 0.3s;


}

.team-overlay a i {
    line-height: 40px;
}

.team-item .team-info-title {
    color: black;
    margin: 10px 0;
    font-size: 20px;
    transition: 0.5s;
}

.team-item .team-info-text {
    color: #c61b1b;
    font-size: 16px;
    transition: 0.5s;

}

.team-item:hover .team-overlay {
    visibility: visible;
    opacity: 1;

}

.team-item.tb-effect {
    z-index: 1;
}

.team-item:hover .team-info-title {
    color: white;
    font-weight: bold;
    font-size: 21px;

}

.team-item:hover .team-info-text {
    color: white;
    font-weight: bold;
    font-size: 17px;

}

.team-overlay a:hover {
    opacity: 0.8;
}

/* END TEAM SECTION */

/**/
/**/
/**/

/* TOUCH SECTION */
.touch {}

.touch-content {
    overflow: hidden;
}

.touch-item {
    width: 30%;
    float: left;
    padding: 35px 25px;
    text-align: center;
}

.touch-item i {
    color: #c61b1b;
    margin-bottom: 20px;
}

.touch-item-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.touch-item-text {
    color: #868F9B;
}

.touch-item.mg {
    margin: 0 5%;
}

.containera {
    width: 80%;
    margin: auto;
}

.form-item {
    width: 100%;
    padding: 0px 45px;
}

.form-item .one input {
    width: calc(50% - 3px);

}

::placeholder {
    color: #c61b1b;
    opacity: 0.8;
}

textarea {

    border-bottom: 2px solid #EEE;

    padding: 10px 10px;
    min-height: 80px;
    resize: vertical;
    height: 40px;
    width: 100%;
    border: none;
    padding: 0 10px;
    background-color: #f4f4f4f4;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.form-item input {
    margin-bottom: 20px;
}

.input[type="text"] {
    border-bottom: 2px solid #EEE;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    height: 40px;
    width: 100%;
    border: none;
    padding: 0 10px;
    background-color: #f4f4f4f4;
}

.fbutton {
    border-radius: 5px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    background: none;
    color: white;
    border: 0;
    background-color: #c61b1b;
    display: block;
    margin: 35px auto 0 auto;
    padding: 15px 25px;
    /* border: 1px solid #c61b1b;*/
    transition: 0.6s;
    cursor: pointer;
}

.fbutton:hover {
    opacity: 0.8;
}

/* END TOUCH SECTION */

/**/
/**/
/**/

/* FOOTER SECTION */
.footer {
    background-color: #1C1D21;
    text-align: center;
    padding: 60px;

}

.footer-links {
    list-style: none;
    margin: 40px 0;
}

.footer-links li {
    display: inline-block;
    transition: 0.5s;

}

.footer-links li a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #c61b1b;
    color: white;
}

.footer-links li a i {
    line-height: 50px;

}

.footer p {
    font-size: 17px;
    color: #868F9B;
}

.footer p a {
    text-decoration: none;
    color: #c61b1b;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 17px;
    transition: 0.5s;

}

.footer-links li:hover {
    opacity: 0.8;
}

.footer p a:hover {
    font-size: 18px;
}

/* END FOOTER SECTION */

/**/
/**/
/**/